@model IEnumerable<ParcelDistributionCenter.Logic.ViewModels.CourierViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center" style="font-weight: bold; margin-top: 10px">List of Couriers</h1>
<hr />
<table width=90%>
    <tr>
        <td width=150px style="text-align:right; padding:15px">
            <span class="sb-nav-link-icon"><i class="fas fa-filter"></i></span>
            Find in table:
        </td>
        <td width=150px text-align="left">
            <input type="text" id="searchInput" onkeyup="search('courierTable')" placeholder="Search" title="Type in a name">
        </td>
        <td style="text-align:right">
            <a asp-action="Create" class="btn btn-primary">Add new courier </a>
        </td>
    </tr>
</table>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="courierTable">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>

            <td>
                <a asp-action="CourierPackages" asp-route-id="@item.CourierId" class="btn btn-secondary">Show Packages</a>
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CourierId" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.CourierId" class="btn btn-danger" onclick="return confirmDelete();">Delete</a>
                </td>

        </tr>
}
    </tbody>
</table>

<script src="~/js/search.js"></script>