@model IEnumerable<ParcelDistributionCenter.Logic.ViewModels.PackageViewModel>

@{
    ViewData["Title"] = "UnassignedPackages";
}
<h1 class="text-center" style="font-weight: bold; margin-top: 10px">List of Unassigned Packages</h1>
<hr />
<table width=90%>
    <tr>
        <td width=150px style="text-align:right; padding:15px">
            <span class="sb-nav-link-icon"><i class="fas fa-filter"></i></span>
            Find in table:
        </td>
        <td width=150px text-align="left">
            <input type="text" id="searchInput" onkeyup="search('unassignedPackagesTable')" placeholder="Search" title="Type in a name">
        </td>
        <td></td>
    </tr>
</table>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Courier
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="unassignedPackagesTable">
        @foreach (var item in Model) {
            <tr>
            <td>
                Unknown
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DeliveryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderEmail)
            </td>
            <td>
                <a asp-action="Assign" asp-route-packageNumber=@item.PackageNumber asp-route-courierId=@ViewContext.RouteData.Values["id"] class="btn btn-primary">Assign</a>
            </td>
        </tr>
}
    </tbody>
</table>


<script src="~/js/search.js"></script>