@using ParcelDistributionCenter.Model.Entites;
@model IEnumerable<DeliveryMachine>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Delivery Machine</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().Address"></label>
            </th>
            <th>
                <label asp-for="First().IsActive"></label>
            </th>
            <th>
                <label asp-for="First().SmallLockersCount">Free Small Lockers Count</label>
            </th>
            <th>
                <label asp-for="First().MediumLockersCount">Free Medium Lockers Count</label>
            </th>
            <th>
                <label asp-for="First().BigLockersCount">Free Big Lockers Count</label>
            </th>
            <th>
                <label>Packages Quantity</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.IsActive
                </td>
                <td>
                    @item.SmallLockersCount
                </td>
                <td>
                    @item.MediumLockersCount
                </td>
                <td>
                    @item.BigLockersCount
                </td>
                <td style="display:flex; justify-content:space-between; align-items:center;">
                    <span>@item.Packages.Count</span>
                    <a asp-action="DMPackagesList" asp-route-id="@item.Id" class="btn btn-secondary">Show Packages</a>
                </td>
                <td>
                    <div class="text-center">
                        <a asp-action="EditDeliveryMachine" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="DeleteDeliveryMachine" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirmDelete();">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
